@model PokemonUniteBuildTracker.ViewModels.BattleItemViewModel

@{
    ViewData["Title"] = "Create Battle Item";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="BattleItemName"></label>
        <input asp-for="BattleItemName" class="form-control" />
        <span asp-validation-for="BattleItemName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BattleItemImgLink"></label>
        <input asp-for="BattleItemImgLink" class="form-control" />
        <span asp-validation-for="BattleItemImgLink" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BattleItemHP"></label>
        <input asp-for="BattleItemHP" class="form-control" />
        <span asp-validation-for="BattleItemHP" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BattleItemAttack"></label>
        <input asp-for="BattleItemAttack" class="form-control" />
        <span asp-validation-for="BattleItemAttack" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BattleItemDefense"></label>
        <input asp-for="BattleItemDefense" class="form-control" />
        <span asp-validation-for="BattleItemDefense" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BattleItemSpAttack"></label>
        <input asp-for="BattleItemSpAttack" class="form-control" />
        <span asp-validation-for="BattleItemSpAttack" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BattleItemSpDefense"></label>
        <input asp-for="BattleItemSpDefense" class="form-control" />
        <span asp-validation-for="BattleItemSpDefense" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BattleItemCritRate"></label>
        <input asp-for="BattleItemCritRate" class="form-control" />
        <span asp-validation-for="BattleItemCritRate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BattleItemCDR"></label>
        <input asp-for="BattleItemCDR" class="form-control" />
        <span asp-validation-for="BattleItemCDR" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BattleItemLifesteal"></label>
        <input asp-for="BattleItemLifesteal" class="form-control" />
        <span asp-validation-for="BattleItemLifesteal" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BattleItemAttackSpeed"></label>
        <input asp-for="BattleItemAttackSpeed" class="form-control" />
        <span asp-validation-for="BattleItemAttackSpeed" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BattleItemMoveSpeed"></label>
        <input asp-for="BattleItemMoveSpeed" class="form-control" />
        <span asp-validation-for="BattleItemMoveSpeed" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>
