@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-">Welcome to Pokemon Unite Build Tracker!</h1>
    <h5>Guide to use this app</h5>
    <p>Latest version (Pokémon UNITE v1.16. 1.1) </p>
    <ul>
        <li>
            <a href="https://localhost:7014/Pokemon">Pokémon List</a> - shows a list of all available Pokémon
        </li>
        <li>
            <a href="https://localhost:7014/HeldItem">Held Items</a> - shows a list of all held items available
        </li>
        <li>
            <a href="https://localhost:7014/BattleItem">Battle Items</a> - shows a list of all battle items available that can be atatched to a pokemon
        </li>
        <li>
            <a href="https://localhost:7014/Pokemon/CreateBuild">Create Build</a> - calculates the stats when the items are attached to a pokemon
        </li>
    </ul>
</div>
